<link rel="stylesheet" href="/css/_footer.css"> 

<footer>

    <div id="footer-main">
        <!--Footer main Starts Here-->

            <div id ="reserved-rights">
                <!--Rights  Starts Here-->
                All rights reserved@hackbook

            </div>

            <div id ="useful-links">
                <!--links Starts Here-->
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/users/profile">profile</a>
                    </li>
                </ul>

            </div>




    </div>

</footer>