<link rel="stylesheet" href="/css/create-post.css">
<div id="main-post">
    <div id="about">
        Update Status
        <hr>
    </div>
    <div id="form">
        <form action="/posts/create"  method="POST" >
            <textarea name ="content"  rows="4"  placeholder="What's in your mind...?" ></textarea>
    </div>
    <hr>
    <div id="post-button">
        <input class="full-width" type="submit"  value="Post">
    </form>
    </div>

</div>
<!-- <form action="/posts/create"  method="POST" >
    <textarea name ="content"  placeholder="What's in your mind...?" "></textarea>
    <br>
    <input class="full-width" type="submit"  value="Post">
</form> -->