<link rel="stylesheet" href="/css/home.css"> 

<div  id="home-container">
    <% if(locals.user) {%>
    <!--This Section is for Post-->
    <section>

    <div id="useful-links">
        <p>Useful Links</p>
    </div>
    <div id="feed-post">
            <div id="create-post">
                <%- include('create_post')%>
            </div>

            <div id="post-list-container">
                <ul>
                    <% for(post of posts){%>
                        <%- include('post')%>
                    <% } %>
                </ul>
            </div>
     </div>
     <div id="friends">
        <p style=" font-weight: 600; text-align: center;">Friends</p>
        <hr>
        <div id="all-users">
            <%- include('all_users')%>
        </div>
     </div>
</section>
    <% } else { %>
        <%- include('not_signed_in')%>
    <%}%>
</div>

