<link rel="stylesheet" href="/css/home.css"> 
<div  id="home-container">


    <% if(locals.user) {%>
    <!--This Section is for Post-->
    <section>

    <div id="useful-links">
        <p>Useful Links</p>
    </div>
    <div id="feed-post">
            <div id="create-post">
                <%- include('create_post')%>
            </div>

            <div id="post-list-container">
                <ul>
                    <% for(post of posts){%>
                        <%- include('post')%>
                    <% } %>
                </ul>
            </div>
     </div>
     <div id="friends">
        <p>friends</p>
     </div>



</section>
    <% } else { %>
        <%- include('not_signed_in')%>
    <%}%>
</div>