<section id="home-container-notSigned" ">
    <div id="sign-up-image" >
        <img src="/images/notSigned.png"  alt="nf" >
    </div>
    <div id="sign-up-buttons">
        <div>
            <ul>
                <li>
                    <button onclick="document.location='/users/sign-In'" type="button">Sign-In</button>
                </li>
                <li id="sign-up-b">
                    <button onclick="document.location='/users/sign-Up'" type="button">Sign-Up</button>
                </li>
            </ul>
        </div>
        
    </div>
    <div id="sign-up-form">
        <div id="sign-up-form-container">
            <p><b>Please fill in this form to create an account.</b></p>
            <hr>
            <form action="/users/create" method="POST">
                <label for="name"><b>Name</b></label>
                <input type="text" name="name" placeholder="e.g : Bruce Wayne" required>
                <label for="email"><b>Email</b></label>
                <input type="email" name="email" placeholder="e.g : abc@xyz" required>
                <label for="name"><b>Password</b></label>
                <input type="password" name="password" placeholder="Xyz@123!" required>
                <label for="name"><b>Confirm Password</b></label>
                <input type="password" name="confirm_Password" placeholder="******" required>
                
                <div class='button'>
                    <input type="submit" value="Sign up">
                </div>
            
                <hr>
            </form>
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
        <p>Already have an account ? <a href="/users/sign-in" style="color:dodgerblue">Sign-in</a> here.</p>

        </div>

    </div>

</section>