#all-users {
  height: auto;
  width: auto; }
  #all-users ul {
    list-style-type: none;
    padding: 0; }
    #all-users ul li {
      border: none;
      background-color: F0F0F0;
      padding: 2px;
      margin: 2px;
      text-align: left; }
