#home-container {
  margin-top: 2px; }
  #home-container section {
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    #home-container section #useful-links {
      width: 20vw; }
    #home-container section #feed-post {
      width: 55vw;
      min-height: 83vh; }
      #home-container section #feed-post #create-post {
        padding: 4px; }
      #home-container section #feed-post #post-list-container ul {
        margin: 0;
        padding: 0; }
    #home-container section #friends {
      width: 20vw; }
