#post {
  height: auto;
  background-color: white;
  box-shadow: 2px 4px 4px #D9DBDE;
  border-radius: 5px;
  padding: 5px;
  margin: 5px; }
  #post li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #post li #post-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #post li #post-info #post-info-name {
        display: inline; }
        #post li #post-info #post-info-name b {
          color: #0A65C2; }
        #post li #post-info #post-info-name small {
          font-size: 6px; }
    #post li #post-content {
      margin-top: 4px;
      border-radius: 6px;
      padding: 4px;
      width: auto;
      min-height: 150px;
      background-color: #F0F0F0; }
